/* Centrado del login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
 
body {
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

/* Caja estilo Canva */
.login-box {
  width: 400px;
  background: #f3f3f3;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

/* Título */
.titulo {
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
}

/* Etiquetas */
.label {
  display: block;
  margin-top: 12px;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 14px;
}

/* Inputs estilo Canva */
.input {
  width: 100%;
  height: 40px;
  border: 2px solid #000 !important;
  border-radius: 6px !important;
  padding: 7px 10px;
  background: #fff;
  font-size: 14px;
}

/* Olvidó contraseña */
.forgot {
  display: block;
  text-align: center;
  margin-top: 6px;
  font-size: 13px;
  text-decoration: none;
  color: black;
}

/* Botón ACCEDER estilo Canva */
.btn-acceder {
  width: 100%;
  height: 40px;
  margin-top: 15px;
  background: #1f54e1 !important;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* Error */
.error {
  text-align: center;
  color: red;
  margin-top: 10px;
  font-size: 13px;
}

/* Recordarme y Registrate */
.extras {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}

.extras a {
  font-size: 13px;
  color: black;
  text-decoration: none;
}

.registrate strong {
  text-decoration: underline;
}
