<div class="login-container">
  <div class="login-box">

    <h2 class="titulo">INICIAR SESIÓN</h2>

    <form (ngSubmit)="iniciarSesion()">

      <!-- Correo -->
      <label for="email" class="label">INGRESE SU CORREO:</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="@email.com"
        class="input"
        [(ngModel)]="usuario.email"
        required
      />

      <!-- Contraseña -->
      <label for="password" class="label">INGRESE SU CONTRASEÑA:</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="contraseña..."
        class="input"
        [(ngModel)]="usuario.password"
        required
      />

      <a class="forgot" routerLink="/recuperar">¿Olvidó su contraseña?</a>

      <button type="submit" class="btn-acceder">ACCEDER</button>

      <p *ngIf="error" class="error">
        {{ error }}
      </p>
    </form>

    <div class="extras">
      <a class="recordarme" href="#">Recordarme</a>

      <a class="registrate" routerLink="/registro">
        ¿No tienes cuenta? <strong>Regístrate</strong>
      </a>
    </div>

  </div>
</div>