#navbarprincipal {
  background-color: #e63838;
  color: aliceblue;
  text-decoration: none;
}

a{
  color: white ;
}

svg {
  width: 16px;
}

/* Apartado de busqueda */
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(234, 226, 183, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 226 183 / 10%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

/* From Uiverse.io by ArturCodeCraft */
/* <reset-style> ============================ */
button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: inherit;
}

/* ============================ */
/* <style for bg> ======== */
.background {
  border-radius: 12px;
  border: 1px solid #1a1a1a;
  background: rgba(74, 74, 74, 0.39);
  mix-blend-mode: luminosity;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(15px);
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* <style for change-theme__icon> ======== */
.change-theme__icon {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.icon-sun,
.icon-moon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

/* .icon-sun */
.icon-sun {
  animation: ease reverse-change-theme-sun .6s forwards;
}

.change-theme__icon:hover .icon-sun {
  animation: ease change-theme-sun .4s forwards;
}

@keyframes reverse-change-theme-sun {
  0% {
    transform: rotate(-45deg) scale(.8);
    opacity: 0;
  }

  50% {
    transform: rotate(8deg);
  }

  100% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
}

@keyframes change-theme-sun {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: rotate(-45deg) scale(.8);
    opacity: 0;
  }
}

/* .icon-moon */
.icon-moon {
  animation: ease reverse-change-theme-moon .4s forwards;
}

.change-theme__icon:hover .icon-moon {
  animation: change-theme-moon .6s forwards;
}

@keyframes change-theme-moon {
  0% {
    transform: rotate(-45deg) scale(.8);
    opacity: 0;
  }

  50% {
    transform: rotate(8deg);
  }

  100% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
}

@keyframes reverse-change-theme-moon {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: rotate(-45deg) scale(.8);
    opacity: 0;
  }
}