/* Centrar todo el contenido */
.register-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

/*  Caja general */
.register-box {
  background: #e6e6e6;
  width: 350px;
  padding: 30px 20px;
  border-radius: 8px;
}

/* Título */
.titulo {
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
}


/* Labels */
.register-label {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
  color: #000;
}

/* Inputs estilo Canva */
.register-input {
  width: 100%;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 6px;
  font-size: 14px;
  margin-bottom: 15px;
  outline: none;
  background: white;
}

/* Botón azul Canva */
.register-btn {
  width: 100%;
  background: #2453ff;
  color: white;
  padding: 10px 0;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.register-btn:hover {
  background: #1f47d6;
}

/* Error */
.error-msg {
  color: red;
  text-align: center;
  margin-top: 10px;
}

/* Enlace login */
.register-login {
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
}

.register-login a {
  font-weight: bold;
  color: #000;
  text-decoration: underline;
  cursor: pointer;
}
