<div class="register-wrapper">
  <div class="register-box">
    <h2 class="titulo">CREAR CUENTA</h2>

    <form (ngSubmit)="registrar()">
 
      <!-- CORREO -->
      <label class="register-label" for="email">INGRESE UN CORREO:</label>
      <input
        type="email"
        id="email"
        name="email"
        class="register-input"
        placeholder="@email.com"
        [(ngModel)]="nuevoUsuario.email"
        required
      />

      <!-- CONTRASEÑA -->
      <label class="register-label" for="password">CREE UNA CONTRASEÑA:</label>
      <input
        type="password"
        id="password"
        name="password"
        class="register-input"
        placeholder="nueva contraseña..."
        [(ngModel)]="nuevoUsuario.password"
        minlength="4"
        required
      />

      <!-- Botón -->
      <button type="submit" class="register-btn">CREAR CUENTA</button>

      <!-- Mensaje de error -->
      <p *ngIf="error" class="error-msg">
        {{ error }}
      </p>
    </form>

    <!-- Enlace login -->
    <p class="register-login">
      ¿Ya tienes cuenta? <a routerLink="/login">Iniciar Sesión</a>
    </p>
  </div>
</div>