.subircarrito{
    color: white;                
    border: none;                
    border-radius: 6px;          
    padding: 6px 12px;           
    font-size: 16px;             
    font-weight: bold;
    cursor: pointer;             
    transition: 0.3s;            
    margin: 0 5px;   
}

.subircarrito:hover {
    background-color: #34d04e;
    transform: scale(1.1);
}