.card-container{
    display: flex;
    justify-content: center;/*centra orizontalmente las tarjetas*/
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

/*Estilo de la tarjeta*/
.card{
    width: 18rem;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(255,255,255,0.2);
}

.card.hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

/*Imagen dentro de la tarjeta*/
.card .img{
    background-color: yellow;
    width: 200px;
}

.card .btn{
    background-color: rgb(0, 179, 255);
    color: #222;
    border: none;
    transition: background 0.3s ease-in-out;
}

.card .btn:hover{
    background-color: rgba(255, 255, 0, 0.011);
}

/*responsabilidad en pantalla chica*/
@media(max-width:600px){
    .card-container{
        flex-direction: column;
        align-items: center;
    }
}

/*Boton "agregar al carrito*/
#botonagregar {
    display: inline-block;
    padding: 0.3rem 3.3rem;
    font-size: 14px;
    font-weight: 700;
    color: white;
    border: 3px solid rgb(252, 70, 100);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(252, 70, 100);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

.btn:hover::before {
    transform: translateX(0);
}

/*Boton Favoritos*/

#botonfavoritos{
    display: inline-block;
    padding: 0.3rem 3.3rem;
    font-size: 14px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    border: 3px solid rgb(252, 70, 100);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}

.imgcarrusel{
    width: 400px;
    height: 380px;
}