.card-container{
    display: flex;
    justify-content: center;/*centra orizontalmente las tarjetas*/
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

/*Estilo de la tarjeta*/
.card{
    width: 18rem;
    background-color: brown;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(255,255,255,0.2);
}

.card.hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

/*Imagen dentro de la tarjeta*/
.card .img{
    background-color: yellow;
    width: 200px;
}

.card .btn{
    background-color: yellow;
    color: #222;
    border: none;
    transition: background 0.3s ease-in-out;
}

.card .btn:hover{
    background-color: yellow;
}

/*responsabilidad en pantalla chica*/
@media(max-width:600px){
    .card-container{
        flex-direction: column;
        align-items: center;
    }
}