<div>
    <img class="d-block imgcarrusel" src="https://www.f1lasvegasgp.com/app/uploads/2024/10/Merch.jpg">
</div>

<hr>

<div class="encabezado-container">
    <h3 class="encabezado">¡VEA NUESTRO VARIADO CATALOGO DE PRODUCTOS!</h3>
</div>

<hr>
<div class="card-container contenedor-productos">
    <div *ngFor="let product of producto; let i = index">
        <div class="card">
            <img src="{{ product.img }}">
            <div class="card-body">
                <h5>{{ product.nombre}}</h5>
                <p>{{ product.descripcion }}</p>
                <h5>{{ product.precio }}$</h5>
                <a class="btn" (click)="agregar(product)" id="botonagregar">Agregar al carrito</a>
                <a class="btn btn-favoritos" (click)="agregarFavorito(product)" id="botonfavoritos">Agregar a favoritos</a>
            </div>
        </div>
    </div>
</div>

