.btn-cantidad{
    background-color: #e30c0c;   
    color: white;                
    border: none;                
    border-radius: 6px;          
    padding: 6px 12px;           
    font-size: 16px;             
    font-weight: bold;
    cursor: pointer;             
    transition: 0.3s;            
    margin: 0 5px;              
}

.btn-cantidad:hover {
    background-color: #b50a0a;
    transform: scale(1.1);
}

.btn-aggcant{
    background-color: #24a756;   
    color: white;                
    border: none;                
    border-radius: 6px;          
    padding: 6px 12px;           
    font-size: 16px;             
    font-weight: bold;
    cursor: pointer;             
    transition: 0.3s;            
    margin: 0 5px;  
}

.agregacion {
    color: white;                
    border: none;                
    border-radius: 6px;          
    padding: 6px 12px;           
    font-size: 16px;             
    font-weight: bold;
    cursor: pointer;             
    transition: 0.3s;            
    margin: 0 5px;   
}

.agregacion:hover {
    background-color: #34d04e;
    transform: scale(1.1);
}

.btn-aggcant:hover{
    background-color: #34d04e;
    transform: scale(1.1);

}