<h2>Busca aca los producto de tu equipo favorito</h2>
<hr> 

<div class="text-start mb-3">
    <button title="filter" class="filter" (click)="toggleFiltros()">
        <svg viewBox="0 0 512 512" height="1em">
            <path
                d="M0 416c0 17.7 14.3 32 32 32l54.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48L480 448c17.7 0 32-14.3 32-32s-14.3-32-32-32l-246.7 0c-12.3-28.3-40.5-48-73.3-48s-61 19.7-73.3 48L32 384c-17.7 0-32 14.3-32 32zm128 0a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zM320 256a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm32-80c-32.8 0-61 19.7-73.3 48L32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l246.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48l54.7 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-54.7 0c-12.3-28.3-40.5-48-73.3-48zM192 128a32 32 0 1 1 0-64 32 32 0 1 1 0 64zm73.3-64C253 35.7 224.8 16 192 16s-61 19.7-73.3 48L32 64C14.3 64 0 78.3 0 96s14.3 32 32 32l86.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48L480 128c17.7 0 32-14.3 32-32s-14.3-32-32-32L265.3 64z">
            </path>
        </svg>
    </button>

    <!-- Texto dinámico al lado -->
    <span class="ms-2 fw-bold">
        {{ mostrarFiltros ? 'Ocultar filtros' : 'Filtrar' }}
    </span>
</div>


<div class="filtros" *ngIf="mostrarFiltros">
    <div class="row mb-3">
        <div class="col-md-3">
            <label>Categoria:</label>
            <select class="form-select" [(ngModel)]="selectedCategory" name="categoria">
                <option value="">Todas</option>
                <option *ngFor="let categoria of categoria" [value]="categoria">{{ categoria }}</option>
            </select>
        </div>
        <div class="col-md-3">
            <label>Equipo:</label>
            <select class="form-select" [(ngModel)]="selectedBrand" name="equipo">
                <option value="">Todas</option>
                <option *ngFor="let equipo of equipo" [value]="equipo">{{ equipo }}</option>
            </select>
        </div>
        <div class="col-md-2">
            <label>Precio min:</label>
            <input type="number" class="form-control" [(ngModel)]="minprecio" name="minprecio" min="0" (ngModelChange)="validarPrecios()">
        </div>
        <div class="col-md-2">
            <label>Precio Max:</label>
            <input type="number" class="form-control" [(ngModel)]="maxprecio" name="maxprecio" min="0" (ngModelChange)="validarPrecios()">
        </div>
        <div class="col-md-2 d-flex align-items-end">
            <button class="btn btn-secondary w-100" (click)="resetFilters()">
                <div class="button-top">Limpiar</div>
            </button>
        </div>
    </div>
</div>

<div class="card-container contenedor-productos">
    <ng-container *ngIf="filteredProducts && filteredProducts.length;">
        <div *ngFor="let product of filteredProducts; let i = index" class="card">
            <img [src]="product.img" [alt]="product.nombre" class="card-img" />
            <div class="card-body">
                <h5>{{ product.nombre }}</h5>
                <p>{{ product.descripcion }}</p>
                <h5>{{ product.precio | number: '1.2-2' }} ARS $</h5>   
                <a class="btn" (click)="agregar(product)" id="botonagregar">
                    Agregar al carrito
                </a>
                <a class="btn btn-favoritos" (click)="agregarFavorito(product)" id="botonfavoritos">
                    Agregar a favoritos
                </a>
            </div>
        </div>
    </ng-container>
    <div *ngIf="filteredProducts.length === 0" class="text-muted">
        No se encontraron productos que coincidan con los filtros.
    </div>
</div>
